:root {
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  background-color: var(--grey-900);
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

a,
button,
p,
span {
  color: var(--white);
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  transition: 150ms ease-in-out;
  border: none;
}

a:hover,
button:hover {
  background-color: var(--green);
  color: var(--grey-900);
  font-weight: 900;
  transition: 150ms ease-in-out;
}

button {
  padding: 0.75rem 0;
  background-color: var(--grey-700);
  border-radius: 0.5rem;
}

button:focus {
  outline: none;
}

.card-container {
  display: flex;
  background-color: var(--grey-800);
  border-radius: 1.25rem;
  flex-direction: column;
  gap: 1.5rem;
  height: 33.75rem;
  padding: 1.5rem;
  width: 20rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.user-content img {
  border-radius: 50%;
  width: 5rem;
}

.text-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

.text-location {
  text-align: center;
  color: var(--green);
}

.text-description {
  text-align: center;
}

.content-social-medias {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
